<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form class="" action="/" method="post" enctype="multipart/form-data">

  <input type="text" name="nombre1" value="Hola1">
  <input type="text" name="nombre2" value="Hola2">

  <input type="file" name="archivo" id="file">
  <br>
  <button style="margin:20px" type="submit" name="button">upload file</button>

</form>
